{% extends 'accounts/main.html' %}
{% load static %}
{% block content_block %}
<br>
<div style="margin-left: 400px" class="">
  <div class="col-md-6">
    <div class=" card card-body">
      <form action="" method="POST">
         <div class="form-group">
        {% csrf_token %}
        {{ formset.management_form }}
          {{formset.as_p}}

        {{ form.as_p }}
          <hr>
        <input class="btn btn-primary float-right" type="submit" name="" value="Submit">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
