{% load static %}

<div class="row">
    <div class="col-sm">
      <div id="total_orders" class="card">
        <div class="card-header">
          <h5>Total Orders</h5>
        </div>
      <div class="card-body">
        <h4>{{total_orders}}</h4>
      </div>
      </div>
    </div>
    <div class="col-sm">
      <div  id = "orders_delivered" class="card">
  <div class="card-header">
    <h5>Orders Delivered</h5>
  </div>
  <div class="card-body">
    <h4>{{orders_delivered}}</h4>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div  id = "orders_pending" class="card">
  <div class="card-header">
    <h5>Orders Pending</h5>
  </div>
  <div class="card-body">
    <h4>{{pending_orders}}</h4>
  </div>
</div>
    </div>
  </div>
